Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Update CODEOWNERS (#2574)
  .github/CODEOWNERS
Due: prettier --ignore-unknown --write

Remove redundant overrides (#2573)
  .prettierrc
Due: prettier --ignore-unknown --write

feat(html): Add example of `<output>` (#2214)
  live-examples/html-examples/interactive-elements/css/output.css
  live-examples/html-examples/interactive-elements/js/output.js
  live-examples/html-examples/interactive-elements/meta.json
  live-examples/html-examples/interactive-elements/output.html
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Better examples for globalprops-parseint.js (#2553)
  live-examples/js-examples/globalprops/globalprops-parseint.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(docs): Add `tabs` property to the documentation (#2462)
  contributing/html-examples.md
Due: prettier --ignore-unknown --write

Move from /bigint to /typedarray
  live-examples/js-examples/bigint/meta.json
  live-examples/js-examples/typedarray/meta.json
  live-examples/js-examples/typedarray/typedarray-bigint64.js
Due: prettier --ignore-unknown --write, eslint --fix

Add JavaScript to update output
  live-examples/html-examples/form-attributes/js/attribute-for.js
  live-examples/html-examples/form-attributes/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

Remove "for" attribute on first label; improve text
  live-examples/html-examples/form-attributes/attribute-for.html
Due: prettier --ignore-unknown --write

Improve styling for output
  live-examples/html-examples/form-attributes/attribute-for.html
  live-examples/html-examples/form-attributes/css/attribute-for.css
Due: prettier --ignore-unknown --write, stylelint --fix

Add an example for `for` (#2376)
  live-examples/html-examples/form-attributes/attribute-for.html
  live-examples/html-examples/form-attributes/css/attribute-for.css
  live-examples/html-examples/form-attributes/js/attribute-for.js
  live-examples/html-examples/form-attributes/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Shorten array
  live-examples/js-examples/typedarray/typedarray-bigint64.js
Due: prettier --ignore-unknown --write, eslint --fix

Add missing newlines
  live-examples/js-examples/typedarray/typedarray-bigint64.js
Due: prettier --ignore-unknown --write, eslint --fix

add hyphenate-limit-chars example (#2351)
  live-examples/css-examples/text/hyphenate-limit-chars.css
  live-examples/css-examples/text/hyphenate-limit-chars.html
  live-examples/css-examples/text/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

refactor: remove third example
  live-examples/js-examples/array/array.js
Due: prettier --ignore-unknown --write, eslint --fix

Run all linting actions in CI workflow
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

feat: showcase basic array functionality (#2253)
  live-examples/js-examples/array/array.js
  live-examples/js-examples/array/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(html): Add example of `draggable` attribute (#2220)
  live-examples/html-examples/global-attributes/attribute-draggable.html
  live-examples/html-examples/global-attributes/css/attribute-draggable.css
  live-examples/html-examples/global-attributes/js/attribute-draggable.js
  live-examples/html-examples/global-attributes/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore(main): release 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.1.0 (#2459)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Align auto-merge with mdn/content
  .github/workflows/auto-merge.yml
Due: prettier --ignore-unknown --write

Update auto-merge.yml
  .github/workflows/auto-merge.yml
Due: prettier --ignore-unknown --write

Format files with Prettier (#2572)
  live-examples/css-examples/pseudo-class/defined.html
  live-examples/html-examples/input/url.html
Due: prettier --ignore-unknown --write

Align auto-merge with mdn/content (#2580)
  .github/workflows/auto-merge.yml
Due: prettier --ignore-unknown --write

Fix nesting depth in Array.prototype.flat example
  live-examples/js-examples/array/array-flat.js
Due: prettier --ignore-unknown --write, eslint --fix

Make depth parameter more apparent in .flat()
  live-examples/js-examples/array/array-flat.js
Due: prettier --ignore-unknown --write, eslint --fix

Use standardized form for flat example
  live-examples/js-examples/array/array-flat.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(pseudo class empty): added whitespace again #2581
  live-examples/css-examples/pseudo-class/empty.html
Due: prettier --ignore-unknown --write

chore: check in marker example cleanly
  live-examples/css-examples/pseudo-element/marker.css
  live-examples/css-examples/pseudo-element/marker.html
  live-examples/css-examples/pseudo-element/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

chore: check in marker example cleanly
  live-examples/css-examples/pseudo-element/meta.json
Due: prettier --ignore-unknown --write

Add TA.p[@@iterator] example; consistent file names for @@iterator & supportedValuesOf
  live-examples/js-examples/array/meta.json
  live-examples/js-examples/intl/meta.json
  live-examples/js-examples/intl/segments-prototype-@@iterator.js
  live-examples/js-examples/intl/segments-prototype-containing.js
  live-examples/js-examples/string/meta.json
  live-examples/js-examples/typedarray/meta.json
  live-examples/js-examples/typedarray/typedarray-iterator.js
Due: prettier --ignore-unknown --write, eslint --fix

Run Prettier
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: prettier --ignore-unknown --write

chore: Ignore implicit closing bracket in rtc element
  live-examples/html-examples/inline-text-semantics/rtc.html
Due: prettier --ignore-unknown --write

fix: Replace marker example (#2585)
  live-examples/css-examples/pseudo-element/marker.css
  live-examples/css-examples/pseudo-element/marker.html
  live-examples/css-examples/pseudo-element/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.1.1 (#2593)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(CSS): format some CSS
  live-examples/css-examples/@counter-style/counter-style.css
  live-examples/css-examples/@counter-style/negative.css
  live-examples/css-examples/@counter-style/pad.css
  live-examples/css-examples/@counter-style/prefix.css
  live-examples/css-examples/@counter-style/range.css
  live-examples/css-examples/@counter-style/suffix.css
  live-examples/css-examples/@counter-style/symbols.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(CSS): format some CSS
  live-examples/css-examples/@counter-style/additive-symbols.css
  live-examples/css-examples/@counter-style/counter-style.css
  live-examples/css-examples/@counter-style/fallback.css
  live-examples/css-examples/@counter-style/negative.css
  live-examples/css-examples/@counter-style/pad.css
  live-examples/css-examples/@counter-style/prefix.css
  live-examples/css-examples/@counter-style/range.css
  live-examples/css-examples/@counter-style/suffix.css
  live-examples/css-examples/@counter-style/symbols.css
  live-examples/css-examples/@counter-style/system.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(CSS): format some CSS
  .husky/pre-commit
Due: prettier --ignore-unknown --write

Update live-examples/html-examples/interactive-elements/dialog.html
  live-examples/html-examples/interactive-elements/dialog.html
Due: prettier --ignore-unknown --write

feat(html): Add example of `<dialog>` (#2212)
  live-examples/html-examples/interactive-elements/css/dialog.css
  live-examples/html-examples/interactive-elements/dialog.html
  live-examples/html-examples/interactive-elements/js/dialog.js
  live-examples/html-examples/interactive-elements/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.js
