Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

Update live-examples/css-examples/pseudo-class/modal.css
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

getting linter to be happy?
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

maybe lint doesn't know dialog element
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

trying again
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

testing again
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

Update modal.css
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

Set `<p>` element's color to `initial` (from CanvasText) (#2802)
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

move citation out of blockquote per spec
  live-examples/html-examples/text-content/blockquote.html
Due: prettier --ignore-unknown --write

move citation out of blockquote per spec
  live-examples/html-examples/text-content/blockquote.html
  live-examples/html-examples/text-content/css/blockquote.css
Due: prettier --ignore-unknown --write, stylelint --fix

Update live-examples/html-examples/text-content/css/blockquote.css
  live-examples/html-examples/text-content/css/blockquote.css
Due: prettier --ignore-unknown --write, stylelint --fix

Remove `@@notation` from user-facing example titles
  live-examples/js-examples/array/meta.json
  live-examples/js-examples/date/meta.json
  live-examples/js-examples/intl/intl-prototype-@@tostringtag.js
  live-examples/js-examples/intl/meta.json
  live-examples/js-examples/map/map-prototype-@@tostringtag.js
  live-examples/js-examples/map/meta.json
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/set/meta.json
  live-examples/js-examples/string/meta.json
  live-examples/js-examples/typedarray/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

chore(main): release 2.6.0 (#2803)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Remove `@@notation` from user-facing example titles (#2808)
  live-examples/js-examples/array/meta.json
  live-examples/js-examples/date/meta.json
  live-examples/js-examples/intl/intl-prototype-@@tostringtag.js
  live-examples/js-examples/intl/meta.json
  live-examples/js-examples/map/map-prototype-@@tostringtag.js
  live-examples/js-examples/map/meta.json
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/set/meta.json
  live-examples/js-examples/string/meta.json
  live-examples/js-examples/typedarray/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

move citation out of blockquote per spec (#2806)
  live-examples/html-examples/text-content/blockquote.html
  live-examples/html-examples/text-content/css/blockquote.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: place vendor-prefixed props first in declaration order
  live-examples/css-examples/backgrounds-and-borders/background-clip.html
  live-examples/css-examples/fragmentation/box-decoration-break.html
  live-examples/css-examples/pseudo-class/autofill.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: remove vendor-prefixed props/rules when standard is supported
  live-examples/css-examples/animation/animation-delay.css
  live-examples/css-examples/animation/animation-direction.css
  live-examples/css-examples/animation/animation-duration.css
  live-examples/css-examples/animation/animation-fill-mode.css
  live-examples/css-examples/animation/animation-iteration-count.css
  live-examples/css-examples/animation/animation-name.css
  live-examples/css-examples/animation/animation-play-state.css
  live-examples/css-examples/animation/animation-timing-function.css
  live-examples/css-examples/animation/animation.css
  live-examples/css-examples/backgrounds-and-borders/background-clip.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix: use single, forgiving selector list with is()
  live-examples/css-examples/pseudo-class/autofill.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: place vendor-prefixed props first in declaration order (#2812)
  live-examples/css-examples/animation/animation-delay.css
  live-examples/css-examples/animation/animation-direction.css
  live-examples/css-examples/animation/animation-duration.css
  live-examples/css-examples/animation/animation-fill-mode.css
  live-examples/css-examples/animation/animation-iteration-count.css
  live-examples/css-examples/animation/animation-name.css
  live-examples/css-examples/animation/animation-play-state.css
  live-examples/css-examples/animation/animation-timing-function.css
  live-examples/css-examples/animation/animation.css
  live-examples/css-examples/backgrounds-and-borders/background-clip.html
  live-examples/css-examples/fragmentation/box-decoration-break.html
  live-examples/css-examples/pseudo-class/autofill.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.6.1 (#2815)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Improve contrast of SVG element (#2771)
  live-examples/css-examples/svg/pointer-events.html
Due: prettier --ignore-unknown --write

.
  live-examples/css-examples/text/text-transform.html
Due: prettier --ignore-unknown --write

Demonstrate wrapping with asIntN/asUintN Bigint static methods
  live-examples/js-examples/bigint/bigint-asintn.js
  live-examples/js-examples/bigint/bigint-asuintn.js
Due: prettier --ignore-unknown --write, eslint --fix

Demonstrate wrapping with asIntN/asUintN Bigint static methods (#2832)
  live-examples/js-examples/bigint/bigint-asintn.js
  live-examples/js-examples/bigint/bigint-asuintn.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(ci): check dependabot PR user instead of actor
  .github/workflows/auto-merge.yml
Due: prettier --ignore-unknown --write

fix(ci): check dependabot PR user instead of actor (#2834)
  .github/workflows/auto-merge.yml
Due: prettier --ignore-unknown --write

Replace sample text for unicode-bidi example
  live-examples/css-examples/writing-modes/unicode-bidi.html
Due: prettier --ignore-unknown --write

Replace sample text for unicode-bidi example (#2836)
  live-examples/css-examples/writing-modes/unicode-bidi.html
Due: prettier --ignore-unknown --write

Use kbd for representing user input
  live-examples/html-examples/global-attributes/attribute-accesskey.html
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

Fix color contrast by changing background from bisque to black for accessibility
  live-examples/html-examples/interactive-elements/css/menu.css
Due: prettier --ignore-unknown --write, stylelint --fix

Replace two HTML tags with one (with better semantics)
  live-examples/html-examples/global-attributes/attribute-accesskey.html
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

trying to fix lint issue
  live-examples/html-examples/global-attributes/attribute-accesskey.html
Due: prettier --ignore-unknown --write

trying to fix lint
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

Replace two HTML tags with one (with better semantics) (#2842)
  live-examples/html-examples/global-attributes/attribute-accesskey.html
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: colors in menu for better color contrast
  live-examples/html-examples/interactive-elements/css/menu.css
Due: prettier --ignore-unknown --write, stylelint --fix

Remove unnecessary CSS property
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

Remove unnecessary CSS property (#2844)
  live-examples/html-examples/global-attributes/css/attribute-accesskey.css
Due: prettier --ignore-unknown --write, stylelint --fix

css logical inset-block-start: Set fg & bg color
  live-examples/css-examples/logical-properties/inset-block-start.css
Due: prettier --ignore-unknown --write, stylelint --fix

added auto examples for text-emphasis-position
  live-examples/css-examples/text-decoration/text-emphasis-position.html
Due: prettier --ignore-unknown --write
