Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

fix(css): update order demo (#2660)
  live-examples/css-examples/flexbox/order.css
  live-examples/css-examples/flexbox/order.html
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.3.1 (#2651)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat(css): create an example for content-visibility
  live-examples/css-examples/container/content-visibility.css
  live-examples/css-examples/container/content-visibility.html
  live-examples/css-examples/container/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

fix(css): improve contrast of margin-block
  live-examples/css-examples/logical-properties/margin-block.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix, adapt, and unify table examples
  live-examples/html-examples/table-content/caption.html
  live-examples/html-examples/table-content/col.html
  live-examples/html-examples/table-content/colgroup.html
  live-examples/html-examples/table-content/css/caption.css
  live-examples/html-examples/table-content/css/col.css
  live-examples/html-examples/table-content/css/colgroup.css
  live-examples/html-examples/table-content/css/table.css
  live-examples/html-examples/table-content/css/tbody.css
  live-examples/html-examples/table-content/css/td.css
  live-examples/html-examples/table-content/css/tfoot.css
  live-examples/html-examples/table-content/css/th.css
  live-examples/html-examples/table-content/css/thead.css
  live-examples/html-examples/table-content/css/tr.css
  live-examples/html-examples/table-content/meta.json
  live-examples/html-examples/table-content/table.html
  live-examples/html-examples/table-content/tbody.html
  live-examples/html-examples/table-content/tfoot.html
  live-examples/html-examples/table-content/thead.html
Due: prettier --ignore-unknown --write, stylelint --fix

Improve text-indent interactive example with 'each-line' and 'hanging' examples
  live-examples/css-examples/text/text-indent.css
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write, stylelint --fix

CSS improvements
  live-examples/css-examples/text/text-indent.css
Due: prettier --ignore-unknown --write, stylelint --fix

Satisfy Prettier
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write

Add additional combination example after Vadim's PR feedback
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write

chore(ci): Switch to weekly cron for idle issues
  .github/workflows/idle.yml
Due: prettier --ignore-unknown --write

[Fix]groups-and-backreferences-#2664
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Update-example
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Add-new-line-end-of-the-code
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Run Prettier
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Update-code
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Again-update-example
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

New-PR-for-Groups-and-backreferences
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

New-line
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

New-line-add-again
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix formatting for Prettier
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Improve the example to better show off all example use-cases
  live-examples/css-examples/text/text-indent.css
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write, stylelint --fix

Prevent height from growing too far by editing text
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write

Update live-examples/css-examples/text/text-indent.html
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write

Replace CSS named colors with hex values in an attempt to fix what Dipika is seeing
  live-examples/css-examples/text/text-indent.css
Due: prettier --ignore-unknown --write, stylelint --fix

[CSS] Add interactive examples for text-indent values `each-line` and `hanging` (#2668)
  live-examples/css-examples/text/text-indent.css
  live-examples/css-examples/text/text-indent.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix(css): improve contrast of margin-block (#2666)
  live-examples/css-examples/logical-properties/margin-block.css
Due: prettier --ignore-unknown --write, stylelint --fix

Removed comma in example
  live-examples/js-examples/map/map-groupby.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix typo of word calculate
  live-examples/wat-examples/numeric/abs.wat
  live-examples/wat-examples/numeric/max.wat
  live-examples/wat-examples/numeric/min.wat
Due: prettier --ignore-unknown --write

fix(html): provide corresponding 'id's for 'for' attributes on <label> tags
  live-examples/css-examples/pseudo-class/autofill.html
  live-examples/css-examples/pseudo-class/disabled.html
  live-examples/css-examples/pseudo-class/enabled.html
  live-examples/css-examples/pseudo-class/in-range.html
  live-examples/css-examples/pseudo-class/invalid.html
  live-examples/css-examples/pseudo-class/optional.html
  live-examples/css-examples/pseudo-class/out-of-range.html
  live-examples/css-examples/pseudo-class/placeholder-shown.html
  live-examples/css-examples/pseudo-class/read-only.html
  live-examples/css-examples/pseudo-class/read-write.html
  live-examples/css-examples/pseudo-class/required.html
  live-examples/css-examples/pseudo-class/valid.html
  live-examples/css-examples/pseudo-element/file-selector-button.html
  live-examples/css-examples/pseudo-element/placeholder.html
  live-examples/html-examples/form-attributes/attribute-accept.html
  live-examples/html-examples/form-attributes/attribute-disabled.html
  live-examples/html-examples/form-attributes/attribute-max.html
  live-examples/html-examples/form-attributes/attribute-maxlength.html
  live-examples/html-examples/form-attributes/attribute-min.html
  live-examples/html-examples/form-attributes/attribute-minlength.html
  live-examples/html-examples/form-attributes/attribute-multiple.html
  live-examples/html-examples/form-attributes/attribute-pattern.html
  live-examples/html-examples/form-attributes/attribute-readonly.html
  live-examples/html-examples/form-attributes/attribute-size.html
  live-examples/html-examples/form-attributes/attribute-step.html
  live-examples/html-examples/input/week.html
Due: prettier --ignore-unknown --write

fix typos
  live-examples/html-examples/content-sectioning/header.html
  live-examples/js-examples/statement/statement-const.js
  live-examples/wat-examples/numeric/abs.wat
  live-examples/wat-examples/numeric/copysign.wat
  live-examples/wat-examples/numeric/max.wat
  live-examples/wat-examples/numeric/min.wat
  live-examples/wat-examples/numeric/popcnt.wat
  live-examples/wat-examples/statements/select.js
Due: prettier --ignore-unknown --write, eslint --fix

remove redundant unused code
  live-examples/css-examples/masking/mask-type.html
  live-examples/css-examples/shapes/shape-image-threshold.css
  live-examples/media/examples/firefox-logo.svg
  live-examples/media/examples/mdn.svg
  live-examples/media/examples/rain.svg
  live-examples/media/examples/shadow.svg
Due: prettier --ignore-unknown --write, stylelint --fix

update deprecated 'substr' to 'substring'
  live-examples/js-examples/proxyhandler/proxyhandler-get.js
  live-examples/js-examples/symbol/symbol-split.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix invalid code
  live-examples/css-examples/generated-content/function-counters.html
  live-examples/html-examples/form-attributes/attribute-capture.html
Due: prettier --ignore-unknown --write

Fix typo of word calculate (#2677)
  live-examples/wat-examples/numeric/abs.wat
  live-examples/wat-examples/numeric/max.wat
  live-examples/wat-examples/numeric/min.wat
Due: prettier --ignore-unknown --write

fix: various code issues (#2679)
  live-examples/css-examples/generated-content/function-counters.html
  live-examples/css-examples/masking/mask-type.html
  live-examples/css-examples/shapes/shape-image-threshold.css
  live-examples/html-examples/content-sectioning/header.html
  live-examples/html-examples/form-attributes/attribute-capture.html
  live-examples/js-examples/proxyhandler/proxyhandler-get.js
  live-examples/js-examples/statement/statement-const.js
  live-examples/js-examples/symbol/symbol-split.js
  live-examples/media/examples/firefox-logo.svg
  live-examples/media/examples/mdn.svg
  live-examples/media/examples/rain.svg
  live-examples/media/examples/shadow.svg
  live-examples/wat-examples/numeric/abs.wat
  live-examples/wat-examples/numeric/copysign.wat
  live-examples/wat-examples/numeric/max.wat
  live-examples/wat-examples/numeric/min.wat
  live-examples/wat-examples/numeric/popcnt.wat
  live-examples/wat-examples/statements/select.js
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

chore(main): release 2.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.3.2 (#2673)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix(html): use `<textarea>` in spellcheck example
  live-examples/html-examples/global-attributes/attribute-spellcheck.html
Due: prettier --ignore-unknown --write
