Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

fix(html): use `<textarea>` in spellcheck example (#2680)
  live-examples/html-examples/global-attributes/attribute-spellcheck.html
Due: prettier --ignore-unknown --write

chore(main): release 2.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.3.3 (#2681)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix(html): provide corresponding 'id's for 'for' attributes on <label> tags (#2678)
  live-examples/css-examples/pseudo-class/autofill.html
  live-examples/css-examples/pseudo-class/disabled.html
  live-examples/css-examples/pseudo-class/enabled.html
  live-examples/css-examples/pseudo-class/in-range.html
  live-examples/css-examples/pseudo-class/invalid.html
  live-examples/css-examples/pseudo-class/optional.html
  live-examples/css-examples/pseudo-class/out-of-range.html
  live-examples/css-examples/pseudo-class/placeholder-shown.html
  live-examples/css-examples/pseudo-class/read-only.html
  live-examples/css-examples/pseudo-class/read-write.html
  live-examples/css-examples/pseudo-class/required.html
  live-examples/css-examples/pseudo-class/valid.html
  live-examples/css-examples/pseudo-element/file-selector-button.html
  live-examples/css-examples/pseudo-element/placeholder.html
  live-examples/html-examples/form-attributes/attribute-accept.html
  live-examples/html-examples/form-attributes/attribute-disabled.html
  live-examples/html-examples/form-attributes/attribute-max.html
  live-examples/html-examples/form-attributes/attribute-maxlength.html
  live-examples/html-examples/form-attributes/attribute-min.html
  live-examples/html-examples/form-attributes/attribute-minlength.html
  live-examples/html-examples/form-attributes/attribute-multiple.html
  live-examples/html-examples/form-attributes/attribute-pattern.html
  live-examples/html-examples/form-attributes/attribute-readonly.html
  live-examples/html-examples/form-attributes/attribute-size.html
  live-examples/html-examples/form-attributes/attribute-step.html
  live-examples/html-examples/input/week.html
Due: prettier --ignore-unknown --write

add 3 women to the list of 10 men
  live-examples/css-examples/generated-content/function-counter.html
Due: prettier --ignore-unknown --write

john to maria
  live-examples/js-examples/expressions/expressions-deleteoperator.js
Due: prettier --ignore-unknown --write, eslint --fix

Run Prettier
  live-examples/css-examples/generated-content/function-counter.html
Due: prettier --ignore-unknown --write

Add women to the example (#2685)
  live-examples/css-examples/generated-content/function-counter.html
  live-examples/js-examples/expressions/expressions-deleteoperator.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(main): release 2.3.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.3.4 (#2682)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Change-other-example
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Update regexp-groups-ranges.js
  live-examples/js-examples/regexp/regexp-groups-ranges.js
Due: prettier --ignore-unknown --write, eslint --fix

Update file name
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/regexp/regexp-groups-backreferences.js
Due: prettier --ignore-unknown --write, eslint --fix

[Fix]groups-and-backreferences-#2664 (#2671)
  live-examples/js-examples/regexp/meta.json
  live-examples/js-examples/regexp/regexp-groups-backreferences.js
Due: prettier --ignore-unknown --write, eslint --fix

Fixes Japanese example sentence
  live-examples/css-examples/text/word-break.html
Due: prettier --ignore-unknown --write

Fixes Japanese example sentence (#2692)
  live-examples/css-examples/text/word-break.html
Due: prettier --ignore-unknown --write

Add return_call example for WASM
  live-examples/wat-examples/statements/return_call.js
  live-examples/wat-examples/statements/return_call.wat
Due: prettier --ignore-unknown --write, eslint --fix

Apply suggestions from code review
  live-examples/wat-examples/statements/return_call.js
  live-examples/wat-examples/statements/return_call.wat
Due: prettier --ignore-unknown --write, eslint --fix

Update return_call.js
  live-examples/wat-examples/statements/return_call.js
Due: prettier --ignore-unknown --write, eslint --fix

Update statement-empty.js
  live-examples/js-examples/statement/statement-empty.js
Due: prettier --ignore-unknown --write, eslint --fix

Use ::after instead of :after
  live-examples/html-examples/text-content/css/hr.css
Due: prettier --ignore-unknown --write, stylelint --fix

Use ::after instead of :after (#2698)
  live-examples/html-examples/text-content/css/hr.css
Due: prettier --ignore-unknown --write, stylelint --fix

Addition of example for overscroll-behavior-block property (#2521)
  live-examples/css-examples/basic-box-model/meta.json
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.css
  live-examples/css-examples/basic-box-model/overscroll-behavior-block.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix link in audio.html
  live-examples/html-examples/image-and-multimedia/audio.html
Due: prettier --ignore-unknown --write

rgb() syntax changes
  live-examples/html-examples/input/button.html
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

Update CONTRIBUTING.md : changed broken link
  CONTRIBUTING.md
Due: prettier --ignore-unknown --write

button.html - remove css class favourites
  live-examples/html-examples/input/button.html
Due: prettier --ignore-unknown --write

Update CONTRIBUTING.md : changed broken link (#2704)
  CONTRIBUTING.md
Due: prettier --ignore-unknown --write

fix link in audio.html (#2702)
  live-examples/html-examples/image-and-multimedia/audio.html
Due: prettier --ignore-unknown --write

/ indicate percentage value
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

space added
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

lint error solved
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

Add simple shadowrootmode example
  live-examples/html-examples/template-shadowrootmode/simple.html
Due: prettier --ignore-unknown --write

Update title
  live-examples/html-examples/template-shadowrootmode/simple.html
Due: prettier --ignore-unknown --write

Add scoping example
  live-examples/html-examples/template-shadowrootmode/scoping.html
Due: prettier --ignore-unknown --write

fix typo
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

rgb() syntax changes and minor issue with class name solved (#2703)
  live-examples/html-examples/input/button.html
  live-examples/html-examples/input/css/button.css
Due: prettier --ignore-unknown --write, stylelint --fix

Add shadowrootmode examples (#2707)
  live-examples/html-examples/template-shadowrootmode/scoping.html
  live-examples/html-examples/template-shadowrootmode/simple.html
Due: prettier --ignore-unknown --write

respect example domains in RFC 6761
  live-examples/css-examples/pseudo-element/after.html
  live-examples/html-examples/inline-text-semantics/q.html
  live-examples/webapi-examples/url/url.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(css): update 'display' interactive demo
  live-examples/css-examples/basic-box-model/display.css
  live-examples/css-examples/basic-box-model/display.html
Due: prettier --ignore-unknown --write, stylelint --fix
