Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

Add comments
  live-examples/wat-examples/statements/call.wat
  live-examples/wat-examples/statements/return_call.js
  live-examples/wat-examples/statements/return_call.wat
Due: prettier --ignore-unknown --write, eslint --fix

Add the demo to the meta file
  live-examples/wat-examples/statements/meta.json
Due: prettier --ignore-unknown --write

Add return_call example for WASM (#2693)
  live-examples/wat-examples/statements/call.wat
  live-examples/wat-examples/statements/meta.json
  live-examples/wat-examples/statements/return_call.js
  live-examples/wat-examples/statements/return_call.wat
Due: prettier --ignore-unknown --write, eslint --fix

chore(main): release 2.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

css logical-properties: Set fg & bg color
  live-examples/css-examples/logical-properties/inset-block-end.css
  live-examples/css-examples/logical-properties/inset-block-start.css
  live-examples/css-examples/logical-properties/inset-inline-end.css
  live-examples/css-examples/logical-properties/inset-inline-start.css
Due: prettier --ignore-unknown --write, stylelint --fix

css content-visibility: Set fg & bg color
  live-examples/css-examples/container/content-visibility.css
Due: prettier --ignore-unknown --write, stylelint --fix

CSS filter example: Add white container element
  live-examples/css-examples/filter-effects/filter.css
  live-examples/css-examples/filter-effects/filter.html
  live-examples/css-examples/filter-effects/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

CSS live examples: color contrast improvements (#2848)
  live-examples/css-examples/container/content-visibility.css
  live-examples/css-examples/filter-effects/filter.css
  live-examples/css-examples/filter-effects/filter.html
  live-examples/css-examples/filter-effects/meta.json
  live-examples/css-examples/logical-properties/inset-block-end.css
  live-examples/css-examples/logical-properties/inset-block-start.css
  live-examples/css-examples/logical-properties/inset-inline-end.css
  live-examples/css-examples/logical-properties/inset-inline-start.css
Due: prettier --ignore-unknown --write, stylelint --fix

. (#2830)
  live-examples/css-examples/text/text-transform.html
Due: prettier --ignore-unknown --write

chore(column-fill): remove balance-all example
  live-examples/css-examples/multi-column-layout/column-fill.html
Due: prettier --ignore-unknown --write

Disambiguate `super` from `this` inheritance
  live-examples/js-examples/expressions/expressions-super.js
Due: prettier --ignore-unknown --write, eslint --fix

explicitly call out local definition being bypassed
  live-examples/js-examples/expressions/expressions-super.js
Due: prettier --ignore-unknown --write, eslint --fix

Disambiguate `super` from `this` inheritance (#2854)
  live-examples/js-examples/expressions/expressions-super.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(column-fill): remove balance-all example (#2853)
  live-examples/css-examples/multi-column-layout/column-fill.html
Due: prettier --ignore-unknown --write

fix: correct typo for text-transform value
  live-examples/css-examples/text/text-transform.html
Due: prettier --ignore-unknown --write

fix: correct typo for text-transform value (#2858)
  live-examples/css-examples/text/text-transform.html
Due: prettier --ignore-unknown --write

feat(css): add auto examples for text-emphasis-position (#2849)
  live-examples/css-examples/text-decoration/text-emphasis-position.html
Due: prettier --ignore-unknown --write

chore(main): release 2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.7.0 (#2835)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps)!: bump node from v18 to v20
  .nvmrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps)!: bump node from v18 to v20 (#2859)
  .nvmrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 3.0.0 (#2862)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Corrected the license type from MPL-2.0 to CCO-1.0
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): remove @mdn/bob 5.0.0
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): add @mdn/bob 6.0.0
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps-dev): bump @mdn/bob from 5.0.0 to 6.0.0 (#2864)
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Corrected the license type from MPL-2.0 to CCO-1.0 (#2863)
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

change mime type
  live-examples/html-examples/embedded-content/embed.html
Due: prettier --ignore-unknown --write

change mime type (#2867)
  live-examples/html-examples/embedded-content/embed.html
Due: prettier --ignore-unknown --write

update: Make this statement different from the statement above
  live-examples/js-examples/expressions/expressions-groupingoperator.js
Due: prettier --ignore-unknown --write, eslint --fix

Add `::details-content` example.
  live-examples/css-examples/pseudo-element/details-content.css
  live-examples/css-examples/pseudo-element/details-content.html
  live-examples/css-examples/pseudo-element/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

fix: Fix JS for CSS transform-origin example (#2875)
  live-examples/css-examples/transforms/transform-origin.html
  live-examples/css-examples/transforms/transform-origin.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: Fix JS for CSS transform-origin example (#2875) (#2876)
  live-examples/css-examples/transforms/transform-origin.html
  live-examples/css-examples/transforms/transform-origin.js
Due: prettier --ignore-unknown --write, eslint --fix

chore(main): release 3.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Made JS example Expected output comments consistent with console output
  live-examples/js-examples/bigint/bigint-tolocalestring.js
  live-examples/js-examples/globalprops/globalprops-isfinite.js
  live-examples/js-examples/intl/intl-datetimeformat-prototype-formattoparts.js
  live-examples/js-examples/intl/intl-getcanonicallocales.js
  live-examples/js-examples/intl/intl-listformat-prototype-formattoparts.js
  live-examples/js-examples/intl/intl-listformat-prototype-resolvedoptions.js
  live-examples/js-examples/intl/intl-numberformat-prototype-format.js
  live-examples/js-examples/intl/intl-numberformat-prototype-formattoparts.js
  live-examples/js-examples/intl/intl-numberformat-prototype-resolvedoptions.js
  live-examples/js-examples/intl/intl-numberformat.js
  live-examples/js-examples/intl/intl-segmenter.js
  live-examples/js-examples/intl/intl-supportedvaluesof.js
  live-examples/js-examples/regexp/regexp-character-classes.js
  live-examples/js-examples/regexp/regexp-prototype-exec.js
Due: prettier --ignore-unknown --write, eslint --fix

More fixes to Expected output comments in JS examples.
  live-examples/js-examples/classes/classes-static.js
  live-examples/js-examples/json/json-stringify.js
  live-examples/js-examples/number/number-tolocalestring.js
  live-examples/js-examples/proxyhandler/proxyhandler-ownkeys.js
  live-examples/js-examples/set/set-prototype-add.js
  live-examples/js-examples/set/set-prototype-entries.js
  live-examples/js-examples/string/string-fromcodepoint.js
  live-examples/js-examples/string/string-lastindexof.js
  live-examples/js-examples/string/string-tolocalelowercase.js
  live-examples/js-examples/string/string-trimend.js
  live-examples/js-examples/string/string-trimstart.js
  live-examples/js-examples/symbol/symbol-prototype-tostring.js
  live-examples/js-examples/typedarray/typedarray-findlast.js
Due: prettier --ignore-unknown --write, eslint --fix

Add `smooth` value to `image-rendering` property
  live-examples/css-examples/images/image-rendering.html
Due: prettier --ignore-unknown --write
