Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

Fix nullish coalescing
  live-examples/js-examples/expressions/expressions-nullish-coalescing-assignment.js
  live-examples/js-examples/expressions/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

Map.groupBy() interactive example
  live-examples/js-examples/map/map-groupby.js
  live-examples/js-examples/map/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

Fix nesting depth in Array.prototype.flat example (#1971)
  live-examples/js-examples/array/array-flat.js
Due: prettier --ignore-unknown --write, eslint --fix

Avoid using h24 in examples
  live-examples/js-examples/intl/intl-locale-prototype-tostring.js
  live-examples/js-examples/intl/intl-locale.js
Due: prettier --ignore-unknown --write, eslint --fix

Use h23 instead
  live-examples/js-examples/intl/intl-locale.js
Due: prettier --ignore-unknown --write, eslint --fix

Add TA.p[@@iterator] example; consistent file names for @@iterator & supportedValuesOf (#2589)
  live-examples/js-examples/array/meta.json
  live-examples/js-examples/expressions/expressions-nullish-coalescing-assignment.js
  live-examples/js-examples/expressions/meta.json
  live-examples/js-examples/intl/meta.json
  live-examples/js-examples/intl/segments-prototype-@@iterator.js
  live-examples/js-examples/intl/segments-prototype-containing.js
  live-examples/js-examples/string/meta.json
  live-examples/js-examples/typedarray/meta.json
  live-examples/js-examples/typedarray/typedarray-iterator.js
Due: prettier --ignore-unknown --write, eslint --fix

Update live-examples/css-examples/@counter-style/additive-symbols.css
  live-examples/css-examples/@counter-style/additive-symbols.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(tools): align Prettier conf with mdn/content, format example
  .prettierrc
  .prettierrc.json
  live-examples/css-examples/@counter-style/additive-symbols.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(tools): revert custom print config, quotes
  .prettierrc.json
  live-examples/css-examples/@counter-style/counter-list-negative.html
  live-examples/css-examples/@counter-style/counter-list.html
Due: prettier --ignore-unknown --write

Map.groupBy() interactive example (#2015)
  live-examples/js-examples/map/map-groupby.js
  live-examples/js-examples/map/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

feat(css): Add example of `@counter-style` and all of its descriptors (#2089)
  .husky/pre-commit
  .prettierrc.json
  live-examples/css-examples/@counter-style/additive-symbols.css
  live-examples/css-examples/@counter-style/counter-list-negative.html
  live-examples/css-examples/@counter-style/counter-list.html
  live-examples/css-examples/@counter-style/counter-style.css
  live-examples/css-examples/@counter-style/fallback.css
  live-examples/css-examples/@counter-style/meta.json
  live-examples/css-examples/@counter-style/negative.css
  live-examples/css-examples/@counter-style/pad.css
  live-examples/css-examples/@counter-style/prefix.css
  live-examples/css-examples/@counter-style/range.css
  live-examples/css-examples/@counter-style/suffix.css
  live-examples/css-examples/@counter-style/symbols.css
  live-examples/css-examples/@counter-style/system.css
Due: prettier --ignore-unknown --write, stylelint --fix

Add an example for BigInt64Array() (#2411)
  live-examples/js-examples/typedarray/meta.json
  live-examples/js-examples/typedarray/typedarray-bigint64.js
Due: prettier --ignore-unknown --write, eslint --fix

Avoid using h24 in examples (#2597)
  live-examples/js-examples/intl/intl-locale-prototype-tostring.js
  live-examples/js-examples/intl/intl-locale.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix text-underline-offset example in Safari
  live-examples/css-examples/text-decoration/text-underline-offset.css
Due: prettier --ignore-unknown --write, stylelint --fix

Fix text-underline-offset example in Safari (#2601)
  live-examples/css-examples/text-decoration/text-underline-offset.css
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.2.0 (#2594)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix(css): for font examples use 'rem' instead of 'em'
  live-examples/css-examples/fonts/font-size.html
  live-examples/css-examples/fonts/font.html
Due: prettier --ignore-unknown --write

fix(css): for font examples use 'rem' instead of 'em' (#2604)
  live-examples/css-examples/fonts/font-size.html
  live-examples/css-examples/fonts/font.html
Due: prettier --ignore-unknown --write

chore: add rtc element example to .prettierignore
  .prettierignore
  live-examples/html-examples/inline-text-semantics/rtc.html
Due: prettier --ignore-unknown --write

Simplify typedarray-of.js
  live-examples/js-examples/typedarray/typedarray-of.js
Due: prettier --ignore-unknown --write, eslint --fix

Fix double allocation in typedarray-of.js (#2611)
  live-examples/js-examples/typedarray/typedarray-of.js
Due: prettier --ignore-unknown --write, eslint --fix

added the position value to the font-synthesis example
  live-examples/css-examples/fonts/font-synthesis.css
  live-examples/css-examples/fonts/font-synthesis.html
Due: prettier --ignore-unknown --write, stylelint --fix

removed the position value from first example
  live-examples/css-examples/fonts/font-synthesis.html
Due: prettier --ignore-unknown --write

docs: update `pseudo-class` child examples
  live-examples/css-examples/pseudo-class/first-child.html
  live-examples/css-examples/pseudo-class/last-child.html
  live-examples/css-examples/pseudo-class/nth-child.html
Due: prettier --ignore-unknown --write

chore(prettier): Ignore implicit closing bracket in rtc element (#2592)
  .prettierignore
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  live-examples/css-examples/pseudo-class/first-child.html
  live-examples/css-examples/pseudo-class/last-child.html
  live-examples/css-examples/pseudo-class/nth-child.html
Due: prettier --ignore-unknown --write

adds white space to trigger commit
  live-examples/css-examples/pseudo-class/first-child.html
Due: prettier --ignore-unknown --write

reverts test change
  live-examples/css-examples/pseudo-class/first-child.html
Due: prettier --ignore-unknown --write

docs: update `pseudo-class` child examples (#2622)
  live-examples/css-examples/pseudo-class/first-child.html
  live-examples/css-examples/pseudo-class/last-child.html
  live-examples/css-examples/pseudo-class/nth-child.html
Due: prettier --ignore-unknown --write

fix: vulnerabilities with `npm audit fix`
  package-lock.json
Due: prettier --ignore-unknown --write

fix: vulnerabilities with `npm audit fix` (#2620)
  package-lock.json
Due: prettier --ignore-unknown --write

fix: `1 moderate severity vulnerability`
  package-lock.json
Due: prettier --ignore-unknown --write

Makes tel.html a little bit more accessible
  live-examples/html-examples/input/tel.html
Due: prettier --ignore-unknown --write

Update empty.html
  live-examples/css-examples/pseudo-class/empty.html
Due: prettier --ignore-unknown --write

fix(pseudo class empty): removed whitespace example (#2582)
  live-examples/css-examples/pseudo-class/empty.html
Due: prettier --ignore-unknown --write

28841 font synthesis position (#2613)
  live-examples/css-examples/fonts/font-synthesis.css
  live-examples/css-examples/fonts/font-synthesis.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix(deps): run npm audit fix (#2624)
  package-lock.json
Due: prettier --ignore-unknown --write

chore(main): release 2.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.2.1 (#2608)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.js
