Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

ci: block workflows on forks
  .github/workflows/codeql-analysis.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
Due: prettier --ignore-unknown --write

style(prettier): ignore CHANGELOG
  .prettierignore
Due: prettier --ignore-unknown --write

chore: revert CHANGELOG.md
  CHANGELOG.md
Due: prettier --ignore-unknown --write

style: run `prettier -w .`
  contributing/html-examples.md
  live-examples/css-examples/@counter-style/meta.json
  live-examples/css-examples/fragmentation/box-decoration-break.html
  live-examples/css-examples/masking/mask-type.html
  live-examples/html-examples/embedded-content/iframe.html
  live-examples/html-examples/image-and-multimedia/area.html
  live-examples/html-examples/image-and-multimedia/img.html
  live-examples/html-examples/image-and-multimedia/map.html
  live-examples/html-examples/input/datetime-local.html
Due: prettier --ignore-unknown --write

feat(ci): run all linting actions (#2576)
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
  .prettierignore
  contributing/html-examples.md
  live-examples/css-examples/@counter-style/meta.json
  live-examples/css-examples/fragmentation/box-decoration-break.html
  live-examples/css-examples/masking/mask-type.html
  live-examples/html-examples/embedded-content/iframe.html
  live-examples/html-examples/image-and-multimedia/area.html
  live-examples/html-examples/image-and-multimedia/img.html
  live-examples/html-examples/image-and-multimedia/map.html
  live-examples/html-examples/input/datetime-local.html
Due: prettier --ignore-unknown --write

wip
  .github/workflows/codeql-analysis.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
Due: prettier --ignore-unknown --write

fix(ci): skip workflows on forks (#2628)
  .github/workflows/codeql-analysis.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
Due: prettier --ignore-unknown --write

chore(main): release 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Remove slashes from void elements
  live-examples/html-examples/table-content/col.html
Due: prettier --ignore-unknown --write

chore(publish-release): remove deploy step
  .github/workflows/publish-release.yml
Due: prettier --ignore-unknown --write

fix: `array-reduce` requiring horizontal scrolling
  live-examples/js-examples/array/.prettierrc.js
  live-examples/js-examples/array/array-reduce.js
Due: prettier --ignore-unknown --write, eslint --fix

Update SECURITY.md
  SECURITY.md
Due: prettier --ignore-unknown --write

chore(main): release 2.3.0 (#2629)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix/#2539-broken-link
  live-examples/html-examples/inline-text-semantics/q.html
Due: prettier --ignore-unknown --write

Update .nvmrc to v18.17
  .nvmrc
Due: prettier --ignore-unknown --write

Update .nvmrc to v18.17 (#2643)
  .nvmrc
Due: prettier --ignore-unknown --write

chore(publish-release): remove deploy step (#2631)
  .github/workflows/publish-release.yml
Due: prettier --ignore-unknown --write

prettier formatting
  live-examples/html-examples/inline-text-semantics/q.html
Due: prettier --ignore-unknown --write

[Fixes] #2539-broken-link (#2640)
  live-examples/html-examples/inline-text-semantics/q.html
Due: prettier --ignore-unknown --write

chore(formatting): Format config file, minor consistency fix
  .stylelintrc
  live-examples/js-examples/finalizationregistry/finalizationregistry.js
Due: prettier --ignore-unknown --write, eslint --fix

chore: Use example.com for URLs, reserved telephone numbers
  live-examples/css-examples/pseudo-element/after.html
  live-examples/html-examples/content-sectioning/address.html
  live-examples/html-examples/global-attributes/attribute-title.html
  live-examples/html-examples/inline-text-semantics/q.html
  live-examples/html-examples/input/email.html
  live-examples/webapi-examples/url/url-constructor.js
  live-examples/webapi-examples/url/url-prototype-hash.js
  live-examples/webapi-examples/url/url-prototype-host.js
  live-examples/webapi-examples/url/url-prototype-hostname.js
  live-examples/webapi-examples/url/url-prototype-href.js
  live-examples/webapi-examples/url/url-prototype-origin.js
  live-examples/webapi-examples/url/url-prototype-password.js
  live-examples/webapi-examples/url/url-prototype-pathname.js
  live-examples/webapi-examples/url/url-prototype-port.js
  live-examples/webapi-examples/url/url-prototype-protocol.js
  live-examples/webapi-examples/url/url-prototype-search.js
  live-examples/webapi-examples/url/url-prototype-searchparams.js
  live-examples/webapi-examples/url/url-prototype-tojson.js
  live-examples/webapi-examples/url/url-prototype-tostring.js
  live-examples/webapi-examples/url/url-prototype-username.js
  live-examples/webapi-examples/url/url.js
Due: prettier --ignore-unknown --write, eslint --fix

Three new interactive examples for use with new 'CSS Math Functions' guide
  live-examples/css-examples/math-functions/function-clamp-01.css
  live-examples/css-examples/math-functions/function-clamp-01.html
  live-examples/css-examples/math-functions/function-max-01.css
  live-examples/css-examples/math-functions/function-max-01.html
  live-examples/css-examples/math-functions/function-min-01.css
  live-examples/css-examples/math-functions/function-min-01.html
  live-examples/css-examples/math-functions/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

fix(js): horizontal and vertical scroll improvements
  live-examples/js-examples/bigint/bigint-asintn.js
  live-examples/js-examples/intl/intl-listformat-prototype-formattoparts.js
  live-examples/js-examples/string/string-indexof.js
  live-examples/js-examples/string/string-lastindexof.js
  live-examples/js-examples/string/string-replace.js
  live-examples/js-examples/string/string-replaceall.js
  live-examples/js-examples/string/string-search.js
Due: prettier --ignore-unknown --write, eslint --fix

fix(js): horizontal and vertical scroll improvements (#2649)
  live-examples/js-examples/bigint/bigint-asintn.js
  live-examples/js-examples/intl/intl-listformat-prototype-formattoparts.js
  live-examples/js-examples/string/string-indexof.js
  live-examples/js-examples/string/string-lastindexof.js
  live-examples/js-examples/string/string-replace.js
  live-examples/js-examples/string/string-replaceall.js
  live-examples/js-examples/string/string-search.js
Due: prettier --ignore-unknown --write, eslint --fix

Fixed expected output on String.prototype.indexOf() page
  live-examples/js-examples/string/string-indexof.js
Due: prettier --ignore-unknown --write, eslint --fix

string-indexof.js - comments don't match output
  live-examples/js-examples/string/string-indexof.js
Due: prettier --ignore-unknown --write, eslint --fix

string-indexof.js - comments don't match output (#2653)
  live-examples/js-examples/string/string-indexof.js
Due: prettier --ignore-unknown --write, eslint --fix

Add additional work to clamp
  live-examples/css-examples/math-functions/function-clamp-01.html
Due: prettier --ignore-unknown --write

docs(CSS): Improvements following reviewer feedback
  live-examples/css-examples/pseudo-element/after.html
  live-examples/html-examples/global-attributes/attribute-title.html
  live-examples/html-examples/inline-text-semantics/q.html
  live-examples/webapi-examples/url/url-constructor.js
  live-examples/webapi-examples/url/url.js
Due: prettier --ignore-unknown --write, eslint --fix

docs(CSS): Improvements following reviewer feedback
  live-examples/html-examples/global-attributes/attribute-title.html
Due: prettier --ignore-unknown --write

docs(CSS): Revert changes as original makes more sense
  live-examples/webapi-examples/url/url-prototype-host.js
Due: prettier --ignore-unknown --write, eslint --fix

docs(CSS): revert to original
  live-examples/webapi-examples/url/url-prototype-hostname.js
Due: prettier --ignore-unknown --write, eslint --fix

docs(CSS): revert to original
  live-examples/webapi-examples/url/url-prototype-hash.js
  live-examples/webapi-examples/url/url-prototype-href.js
  live-examples/webapi-examples/url/url-prototype-origin.js
  live-examples/webapi-examples/url/url-prototype-pathname.js
  live-examples/webapi-examples/url/url-prototype-port.js
  live-examples/webapi-examples/url/url-prototype-protocol.js
  live-examples/webapi-examples/url/url-prototype-tojson.js
  live-examples/webapi-examples/url/url-prototype-tostring.js
Due: prettier --ignore-unknown --write, eslint --fix

chore: use reserved values for phone numbers and domains where possible (#2650)
  live-examples/html-examples/content-sectioning/address.html
  live-examples/html-examples/input/email.html
Due: prettier --ignore-unknown --write

fix(css): update order demo
  live-examples/css-examples/flexbox/order.css
  live-examples/css-examples/flexbox/order.html
Due: prettier --ignore-unknown --write, stylelint --fix

box -> Box
  live-examples/css-examples/flexbox/order.html
Due: prettier --ignore-unknown --write

one more
  live-examples/css-examples/flexbox/order.html
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.js
