Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

Add example of `text-wrap` (#2745)
  live-examples/css-examples/text/meta.json
  live-examples/css-examples/text/text-wrap.css
  live-examples/css-examples/text/text-wrap.html
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

added text-wrap-style live-example
  live-examples/css-examples/text/text-wrap-style.css
  live-examples/css-examples/text/text-wrap-style.html
Due: prettier --ignore-unknown --write, stylelint --fix

added text-wrap-mode live-example
  live-examples/css-examples/text/text-wrap-mode.css
  live-examples/css-examples/text/text-wrap-mode.html
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.4.1 (#2732)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

added t-w-mode & t--w-style to meta.json
  live-examples/css-examples/text/meta.json
Due: prettier --ignore-unknown --write

32341 text wrap (#2746)
  live-examples/css-examples/text/meta.json
  live-examples/css-examples/text/text-wrap-mode.css
  live-examples/css-examples/text/text-wrap-mode.html
  live-examples/css-examples/text/text-wrap-style.css
  live-examples/css-examples/text/text-wrap-style.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix incorrect method parameter '...arguments' with actual parameters (target, prop, receiver)
  live-examples/js-examples/proxyhandler/proxyhandler-get.js
Due: prettier --ignore-unknown --write, eslint --fix

WAT memory examples - fix await
  live-examples/wat-examples/memory/load.js
  live-examples/wat-examples/memory/store.js
Due: prettier --ignore-unknown --write, eslint --fix

css
  live-examples/css-examples/flexbox/order.css
Due: prettier --ignore-unknown --write, stylelint --fix

add outline
  live-examples/css-examples/flexbox/order.css
Due: prettier --ignore-unknown --write, stylelint --fix

css change (#2761)
  live-examples/css-examples/flexbox/order.css
Due: prettier --ignore-unknown --write, stylelint --fix

WAT memory examples - fix await (#2759)
  live-examples/wat-examples/memory/load.js
  live-examples/wat-examples/memory/store.js
Due: prettier --ignore-unknown --write, eslint --fix

Prevent gap making space-evenly look weird
  live-examples/css-examples/box-alignment/justify-content.css
Due: prettier --ignore-unknown --write, stylelint --fix

Also adjust similar examples
  live-examples/css-examples/box-alignment/align-content.css
  live-examples/css-examples/box-alignment/place-content.css
Due: prettier --ignore-unknown --write, stylelint --fix

Fix 2765: prevent gap from making space-evenly look non-even (#2766)
  live-examples/css-examples/box-alignment/align-content.css
  live-examples/css-examples/box-alignment/justify-content.css
  live-examples/css-examples/box-alignment/place-content.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: Remove longhand property overridden by shorthand
  live-examples/css-examples/backgrounds-and-borders/border-style.css
  live-examples/css-examples/logical-properties/border-style.css
Due: prettier --ignore-unknown --write, stylelint --fix

Improve contrast of SVG element
  live-examples/css-examples/svg/pointer-events.html
Due: prettier --ignore-unknown --write

feat: Upgrade stylelint to v16.5.0 (#2770)
  live-examples/css-examples/backgrounds-and-borders/border-style.css
  live-examples/css-examples/logical-properties/border-style.css
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.5.0 (#2772)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Examples for float16 features
  live-examples/js-examples/dataview/dataview-getfloat16.js
  live-examples/js-examples/dataview/dataview-setfloat16.js
  live-examples/js-examples/dataview/meta.json
  live-examples/js-examples/math/math-f16round.js
  live-examples/js-examples/math/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

add interactive example array-findmax
  live-examples/js-examples/array/array-findmax.js
  live-examples/js-examples/array/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

Examples for float16 features (#2781)
  live-examples/js-examples/dataview/dataview-getfloat16.js
  live-examples/js-examples/dataview/dataview-setfloat16.js
  live-examples/js-examples/dataview/meta.json
  live-examples/js-examples/math/math-f16round.js
  live-examples/js-examples/math/meta.json
Due: prettier --ignore-unknown --write, eslint --fix

fix(css): add cue pseudo element with argument case
  live-examples/css-examples/pseudo-element/cue.css
  live-examples/media/examples/friday.vtt
Due: prettier --ignore-unknown --write, stylelint --fix

fix(css): add cue pseudo element with argument case (#2787)
  live-examples/css-examples/pseudo-element/cue.css
  live-examples/media/examples/friday.vtt
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.5.1 (#2788)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

style example - add second css selector, bolden keyword in example
  live-examples/html-examples/document-metadata/style.html
Due: prettier --ignore-unknown --write

Update expressions-logical-or-assignment.js
  live-examples/js-examples/expressions/expressions-logical-or-assignment.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: Remove object from examples, add 2 more examples
  live-examples/js-examples/expressions/expressions-nullish-coalescing-assignment.js
Due: prettier --ignore-unknown --write, eslint --fix

feat: update editor recommendations
  CONTRIBUTING.md
Due: prettier --ignore-unknown --write

Update expressions-nullish-coalescing-assignment.js
  live-examples/js-examples/expressions/expressions-nullish-coalescing-assignment.js
Due: prettier --ignore-unknown --write, eslint --fix

Reorder example outputs (#2799)
  live-examples/js-examples/expressions/expressions-nullish-coalescing-assignment.js
Due: prettier --ignore-unknown --write, eslint --fix

Reset `<p>` element's color to `initial` (from CanvasText)
  live-examples/css-examples/pseudo-class/modal.css
Due: prettier --ignore-unknown --write, stylelint --fix

feat: update editor recommendations (#2800)
  CONTRIBUTING.md
Due: prettier --ignore-unknown --write

chore(main): release 2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Update expressions-logical-or-assignment.js (#2796)
  live-examples/js-examples/expressions/expressions-logical-or-assignment.js
Due: prettier --ignore-unknown --write, eslint --fix

style example - add second css selector, bolden keyword in example (#2794)
  live-examples/html-examples/document-metadata/style.html
Due: prettier --ignore-unknown --write
