Repository mdn/interactive-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.css": "stylelint --fix",
  "*.js": "eslint --fix"
}

added rect() and xywh() examples to clip-path
  live-examples/css-examples/masking/clip-path.html
Due: prettier --ignore-unknown --write

updated the values of rect & xywh to be more represenative of the image
  live-examples/css-examples/masking/clip-path.html
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  live-examples/css-examples/basic-box-model/display.html
Due: prettier --ignore-unknown --write

Update live-examples/css-examples/basic-box-model/display.css
  live-examples/css-examples/basic-box-model/display.css
Due: prettier --ignore-unknown --write, stylelint --fix

31103 rect xywh (#2711)
  live-examples/css-examples/masking/clip-path.html
Due: prettier --ignore-unknown --write

target attribute example
  live-examples/webapi-examples/HTMLAnchorElement/meta.json
  live-examples/webapi-examples/HTMLAnchorElement/target/HTMLAnchorElement-target.html
  live-examples/webapi-examples/HTMLAnchorElement/target/css/HTMLAnchorElement-target.css
Due: prettier --ignore-unknown --write, stylelint --fix

fixing content
  live-examples/html-examples/text-content/main.html
Due: prettier --ignore-unknown --write

fixing <header> font size
  live-examples/html-examples/text-content/css/main.css
Due: prettier --ignore-unknown --write, stylelint --fix

font size changed to 7vw
  live-examples/html-examples/text-content/css/main.css
Due: prettier --ignore-unknown --write, stylelint --fix

Correcting incorrect information from <main> example (#2714)
  live-examples/html-examples/text-content/css/main.css
  live-examples/html-examples/text-content/main.html
Due: prettier --ignore-unknown --write, stylelint --fix

add short description in the output
  live-examples/css-examples/basic-box-model/display.html
Due: prettier --ignore-unknown --write

fix(css): update 'display' interactive demo (#2710)
  live-examples/css-examples/basic-box-model/display.css
  live-examples/css-examples/basic-box-model/display.html
Due: prettier --ignore-unknown --write, stylelint --fix

chore(main): release 2.3.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.3.5 (#2716)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Remove shadowrootmode demo
  live-examples/html-examples/template-shadowrootmode/scoping.html
  live-examples/html-examples/template-shadowrootmode/simple.html
Due: prettier --ignore-unknown --write

Remove shadowrootmode demo (#2717)
  live-examples/html-examples/template-shadowrootmode/scoping.html
  live-examples/html-examples/template-shadowrootmode/simple.html
Due: prettier --ignore-unknown --write

feat(css): create an example for content-visibility (#2663)
  live-examples/css-examples/container/content-visibility.css
  live-examples/css-examples/container/content-visibility.html
  live-examples/css-examples/container/meta.json
Due: prettier --ignore-unknown --write, stylelint --fix

Makes tel.html a little bit more accessible (#2625)
  live-examples/html-examples/input/tel.html
Due: prettier --ignore-unknown --write

remove commas for rgb values
  live-examples/html-examples/table-content/css/caption.css
  live-examples/html-examples/table-content/css/col.css
  live-examples/html-examples/table-content/css/colgroup.css
  live-examples/html-examples/table-content/css/table.css
  live-examples/html-examples/table-content/css/tbody.css
  live-examples/html-examples/table-content/css/td.css
  live-examples/html-examples/table-content/css/tfoot.css
  live-examples/html-examples/table-content/css/th.css
  live-examples/html-examples/table-content/css/thead.css
  live-examples/html-examples/table-content/css/tr.css
Due: prettier --ignore-unknown --write, stylelint --fix

fix: Run Prettier on html-examples/input/tel.html, upgrade stylelint
  live-examples/html-examples/input/tel.html
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(ci): Bump to Node 20, use 'node-version-file: .nvmrc' for setup-node action
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
  .nvmrc
Due: prettier --ignore-unknown --write

chore(ci): Bump to Node 20
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix: Run Prettier on html-examples/input/tel.html, upgrade stylelint (#2723)
  live-examples/html-examples/input/tel.html
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(main): release 2.4.0 (#2719)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(deps): Revert 'Bump to Node 20'
  .nvmrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore(ci): use 'node-version-file: .nvmrc' for setup-node action (#2724)
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-deploy.yml
Due: prettier --ignore-unknown --write

fix, adapt, improve, and unify table examples (#2667)
  live-examples/html-examples/table-content/caption.html
  live-examples/html-examples/table-content/col.html
  live-examples/html-examples/table-content/colgroup.html
  live-examples/html-examples/table-content/css/caption.css
  live-examples/html-examples/table-content/css/col.css
  live-examples/html-examples/table-content/css/colgroup.css
  live-examples/html-examples/table-content/css/table.css
  live-examples/html-examples/table-content/css/tbody.css
  live-examples/html-examples/table-content/css/td.css
  live-examples/html-examples/table-content/css/tfoot.css
  live-examples/html-examples/table-content/css/th.css
  live-examples/html-examples/table-content/css/thead.css
  live-examples/html-examples/table-content/css/tr.css
  live-examples/html-examples/table-content/meta.json
  live-examples/html-examples/table-content/table.html
  live-examples/html-examples/table-content/tbody.html
  live-examples/html-examples/table-content/tfoot.html
  live-examples/html-examples/table-content/thead.html
Due: prettier --ignore-unknown --write, stylelint --fix

fix(ci): migrate to husky v9
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write

fix(ci): migrate to husky v9 (#2731)
  .husky/pre-commit
  package.json
Due: prettier --ignore-unknown --write

fix: `Intl.getCanonicalLocales` error message
  live-examples/js-examples/intl/intl-getcanonicallocales.js
Due: prettier --ignore-unknown --write, eslint --fix

Update live-examples/js-examples/intl/intl-getcanonicallocales.js
  live-examples/js-examples/intl/intl-getcanonicallocales.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: make linter happy
  live-examples/js-examples/intl/intl-getcanonicallocales.js
Due: prettier --ignore-unknown --write, eslint --fix

fix: `Intl.getCanonicalLocales` error message (#2741)
  live-examples/js-examples/intl/intl-getcanonicallocales.js
Due: prettier --ignore-unknown --write, eslint --fix

chore: add ignore rule to prevent formatting empty statements
  .prettierignore
Due: prettier --ignore-unknown --write

fix(js): ignore formatting empty statement example with code comment (#2696)
  .prettierignore
  live-examples/js-examples/statement/statement-empty.js
Due: prettier --ignore-unknown --write, eslint --fix

Add example of `text-wrap`
  live-examples/css-examples/text/meta.json
  live-examples/css-examples/text/text-wrap.css
  live-examples/css-examples/text/text-wrap.html
Due: prettier --ignore-unknown --write, stylelint --fix

Adding ability to edit text
  live-examples/css-examples/text/text-wrap.css
  live-examples/css-examples/text/text-wrap.html
Due: prettier --ignore-unknown --write, stylelint --fix

Changing the tip text
  live-examples/css-examples/text/text-wrap.html
Due: prettier --ignore-unknown --write
